/* - - - - - - - - GLOBAL - - - - - - - -*/
.token-box {
    max-width: 550px;
}

.top-20 {
    position: relative;
    top: 20vh;
}

.section-header {
    font-size: 2.2rem;
    font-weight: 500;
    text-decoration:underline;
    margin-top: .5rem;
}

.just-link {
    color: #0366d6;
    border: 0px solid white;
    padding: 0;
    background-color: transparent;
}

.just-link:hover {
    color: #0056b3;
    text-decoration: underline;
}

.just-link:focus {
    outline: 0px;
}


/* - - - - - - - RADIO SWITCH - - - - - - - -*/
.radio-group input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}

.radio-group input[type=radio]:checked + label {
    background-color: #007bff;
    color: white;
}

.radio-group input[type=radio] + label {
    background-color: white;
    color: #007bff;
}

.radio-group label {
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 4px 15px;
    margin: 0;
    border: 1px solid #007bff;
}

.radio-group {
    border: 1px solid #007bff;
    border-collapse: collapse;
    border-radius: 3px;
}



/*- - - - - - - MODAL STYLE - - - - - -*/
.modal-footer button {
    width: 120px;
}

.modal-dialog {
    max-width: 350px;
}
.modal-header {
    font-size: 1.5em;
    border-bottom: 0px solid white;
}

.modal-body {
    color: dimgray;
    margin: 0px;
}

.modal-footer {
    border-top: 0px solid white;
}





/*- - - - - - - DEFAULT CONFIG - - - - - -*/
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
