<div>
    <p class="my-0 py-0"><b>Waiting exchange commands to WEB:</b> @ViewData["ExchangeWeb"]</p>
    <p class="my-0 py-0"><b>Waiting exchange commands to other:</b> @ViewData["ExchangeOther"]</p>
</div>