@{
    ViewData["Title"] = "Exchange";
    ViewData["LoggedIn"] = true;
}

<div aria-live="polite" aria-atomic="true" style="position: relative;z-index:10;">
    <div style="position: absolute; top: 0; right: 0;">
        <div id="sentToast" data-autohide="true" data-delay="2000" class="toast fade hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body align-items-center">
                <span><i class="fa fa-check text-success"></i> Message sent</span>
            </div>
        </div>
        <div id="deleteToast" data-autohide="true" data-delay="2000" class="toast fade hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body align-items-center">
                <span><i class="fa fa-check text-success"></i> Deleted</span>
            </div>
        </div>
    </div>
</div>

<h2 class="section-header">Exchanges</h2>
<div class="row">
    <div class="col-md mt-2">
        <h4>Info</h4>
        <div id="exchangeInfo"></div>
    </div>
    <div class="col-md mt-2">
        @{ await Html.RenderPartialAsync("_ExchangeNewPartial", null); }
    </div>
</div>
<div class="row">
    <div class="col-md mt-2">
        <h4>Actions</h4>
        @{ await Html.RenderPartialAsync("_ExchangeProcessorPartial", null); }
    </div>
</div>
<div class="row mt-3">
    <div class="col-md">
        <div id="exchangeConfirmProcess" class="collapse">
            <div class="my-2 text-center justify-content-center d-flex">
                <div class="custom-border">
                    <span class="w-auto modal-title font-weight-bold">It will affect <span id="exchangeAffectedNo">0</span> messages</span><br />
                    <span class="text-muted">Remember that after message is shown, it is deleted</span><br />
                    <button id="processOk" class="btn btn-success"><i class="fa fa-check"></i></button>
                    <button id="processCancel" class="btn btn-danger"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <a id="exchangeConfirmProcessAction" data-data-action="" hidden></a>
        </div>
        <div id="exchangeTable">
            @{ await Html.RenderPartialAsync("_ExchangeTablePartial", new List<ArduinoConnect.Web.ResponseModels.ExchangeTableModel>()); }
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <environment include="Development">
        <script src="~/js/exchange_scripts.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/exchange_scripts.min.js" asp-append-version="true"></script>
    </environment>
    @if((bool)ViewData["MessageSent"])
    {
        <script>$('#sentToast').toast('show');</script>
    }
    <script>$(document).ready(refreshInfo);</script>
}
