@model ArduinoConnect.Web.RequestModels.TokenModel

@{
    ViewData["Title"] = "Index";
    ViewData["LoggedIn"] = true;
}

<h1>Info</h1>

<p>Token info</p>
<table class="table">
    <tr>
        <td>Token</td>
        <td>@Model.Token</td>
    </tr>
</table>
