@{
    ViewData["Title"] = "Info";
    ViewData["LoggedIn"] = true;

    List<ArduinoConnect.Web.ResponseModels.UserTableModel> UserTables = ViewData["UserTables"] as List<ArduinoConnect.Web.ResponseModels.UserTableModel>;
}

<h2 class="section-header">General</h2>

<p><b>Token: </b>@ViewData["Token"]</p>
@{ await Html.RenderPartialAsync("_ExchangeInfoPartial", this.ViewData); }

<h2 class="section-header">Tables</h2>
@{ await Html.RenderPartialAsync("_UserTablesPartial", UserTables); }

@section ModalSection {
    <div id="modalDelete" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header flex-column">
                    <h4 class="modal-title text-center w-100">Are you sure?</h4>
                    @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                </div>
                <div class="modal-body text-center">
                    <p>Do you really want to delete this table? This process cannot be undone.</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <form class="mx-1" asp-action="DeleteUserTable" method="post">
                        <input id="modalDeleteId" type="number" value="0" name="id" hidden/>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}