@{
    ViewData["Title"] = "Tables";
    ViewData["LoggedIn"] = true;

    List<ArduinoConnect.Web.ResponseModels.UserTableModel> UserTables = ViewData["UserTables"] as List<ArduinoConnect.Web.ResponseModels.UserTableModel>;
}

<h2 class="section-header">Tables</h2>
@{ await Html.RenderPartialAsync("_UserTablesPartial", UserTables); }