@model ErrorViewModel
@{
    ViewData["Title"] = "Error 404";
    Layout = "_ErrorLayout";
}

<div class="text-center d-flex flex-column top-20 main-block">
    <h1 class="font-weight-bold">Error 404</h1>
    <h3 class="font-weight-normal">Page  not found</h3>

    @if (Model.ShowRequestId)
    {
        <div class="d-flex mt-auto justify-content-center pb-5">
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </div>
    }
</div>
