<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="57x57" href="~/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/icons/favicon-16x16.png">
    <link rel="manifest" href="~/icons/manifest.json">
    <title>@ViewData["Title"]</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <link rel="stylesheet" href="~/css/error.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/error.min.css" />
    </environment>
</head>
<body>
    @RenderBody()

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Mateusz Ciągło
        </div>
    </footer>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
